* {
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
}
:root {
  --text-color: #feb836;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
#home {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4)
    ),
    url(/images/banner1.jpg);
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
#home header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  transition: 0.5s ease-in-out;
}

#home header.onscroll {
  box-shadow: 0 6px 16px 1px rgba(34, 34, 34, 0.336);
  background-color: white;
}
#home header.onscroll a {
  color: #222;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 81px;
}
#home h1 {
  color: var(--text-color);
  font-family: "Wisdom Script", Script;
  transform: translateY(-25%);
}
nav {
  display: flex;
  min-width: 400px;
  justify-content: space-between;
  width: 45%;
}
nav a,
nav i {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
  font-size: 14px;
}

#home nav a:hover,
#home nav a:active {
  color: var(--text-color);
}
#home .hero {
  text-align: center;
  color: #fff;
  padding: 0 15px;
}
#home h5 {
  text-transform: capitalize;
  font-family: "Noto Serif", serif;
  margin-bottom: 30;
  font-size: 39px;
  font-style: italic;
}
#home h4 {
  font-weight: 700;
  font-size: 76px;
  color: orangered;
  margin-bottom: 26px;
  text-transform: uppercase;
}
.btn-primary {
  text-decoration: none;
  font-size: 42px;
  color: white;
  background-color: var(--text-color);
  padding: 12px 10px 4px 12px;
  border-radius: 20px 0 10px;
}
.btn-primary:hover {
  border: 1px solid var(--text-color);
  background-color: rgba(255, 255, 255, 0);
}
#services .icon {
  border: 2px solid var(--text-color);
  width: 75px;
  border-radius: 50%;
  height: 75px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 25px;
  justify-content: center;
  margin-top: 60px;
}
#portfolio {
  background-color: #f7f7f7f7;
}
#portfolio .grid {
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(auto-fit, 291px);
}
#portfolio .item {
  padding-bottom: 15px;
  background-color: white;
  border-radius: 3px;
}
#portfolio h3 {
  margin: 6px 0;
}
#about .timeline {
  position: relative;
  margin-top: 55px;
}
#about .timeline::before {
  position: absolute;
  top: 6px;
  content: "";
  left: calc(50% - (2px / 2));
  width: 2px;
  height: 95%;
  background-color: #f1f1f1;
  z-index: -10;
}
#about .event {
  grid-template-columns: 1fr 183px 1fr;
  grid-column-gap: 25px;
  display: grid;
  grid-row-gap: 25px;
  margin-bottom: 56px;
  justify-content: center;
}
#about .event:nth-child(2n + 1) {
  text-align: left;
}
#about .event:nth-child(2n) {
  text-align: right;
}
@media all and (max-width: 800px) {
  #about .event:nth-child(2n + 1) {
    grid-template-columns: 0 150px 1fr;
  }
  #about .event:nth-child(2n) {
    grid-template-columns: 1fr 150px 0;
  }
  #about .timeline::before {
    display: none;
  }
}
@media all and (max-width: 600px) {
  #about .event:nth-child(2n + 1) {
    grid-template-rows: 0 150px 1fr;
    grid-template-columns: 1fr;
  }
  #about .event:nth-child(2n) {
    grid-template-rows: 1fr 150px 0;
    grid-template-columns: 1fr;
  }
  #about img {
    height: 150px;
  }
}
#team img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  display: inline-block;
  max-width: 250px;
  border: 2px solid var(--text-color);
}
#team h3 {
  margin-bottom: 0px;
}
#team .item p {
  margin-bottom: 10px;
}
#team .item .icons {
  justify-content: space-around;
  font-size: 35px;
  display: flex;
  width: 200px;
  margin: 0 auto;
}
#team .item .fa-facebook:hover {
  background-color: blue;
  border-radius: 50%;
}
#team .item .fa-pinterest:hover {
  background-color: red;
  border-radius: 50%;
}

#team .team-p {
  margin-top: 50px;
  max-width: 900;
  margin: 0 auto;
}

#contact {
  position: relative;
  background: #222;
}
#contact h2 {
  color: #fff;
}
#contact .contact-img {
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  max-width: 70%;
}
#contact form {
  z-index: 1;
}
#contact .fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: stretch;
}
#contact .field {
  height: 27%;
}
#contact .text-field {
  height: 91%;
}
#contact .field input,
#contact .field textarea {
  background-color: #fff;
  border-radius: 2px;
  border: none;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
}
#contact ::placeholder {
  text-transform: uppercase;
  font-family: inherit;
  color: #777;
  font-size: 12px;
  font-weight: 700;
}
#contact .grid {
  grid-template-rows: repeat(auto-fit, 180px);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 20px;
}
@media all and (max-width: 906px) {
  #contact .grid {
    grid-template-rows: 180px 180px;
  }
}
footer {
  padding: 20px 0;
}
footer .container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

footer .icons {
  min-width: 30%;
  display: flex;
  max-width: 250px;
  justify-content: space-between;
}
footer .icon {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #fff;
  background-color: #222;
  cursor: pointer;
  font-size: 20px;
  transition: 0.25;
}
footer .icon:hover {
  color: #222;
  background-color: var(--text-color);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 85px;
}
.btn {
  padding: 14px 32px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 1px;
  font-weight: 700;
}
.btn-primary {
  color: white;
  font-size: 20px;
  margin-left: 1px;
  background-color: var(--text-color);
}

section {
  text-align: center;
  padding: 80px 0;
}
h2 {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 10px;
  color: #222;
}

h3 {
  text-transform: capitalize;
  color: #222;
  font-size: 19px;
  margin-bottom: 10px;
}
p {
  font-family: "Arimo", sans-serif;
  font-size: 15px;
  line-height: 170%;
  color: #777;
}
.italic {
  font-style: italic;
}

h6 {
  font-size: 18px;
  color: #222;
  text-transform: uppercase;
}
.fa-close {
  z-index: 2001;
  top: 33px;
  position: fixed;
  font-size: 35px;
  right: 30px;
  cursor: pointer;
  color: #fff;
  display: none;
}

#home .onscroll .fa-bars {
  color: #222;
}
#home .fa-bars {
  cursor: pointer;
  color: #fff;
  font-size: 22px;
}
.fa-bars {
  display: none;
}
footer .container span {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 700;
}
@media all and (max-width: 730px) {
  #home nav a {
    font-size: 35px;
    color: white !important;
  }
  #home nav a:active,
  #home nav a:hover {
    color: black !important;
  }
  #home nav {
    top: 50%;
    left: 0;
    position: fixed;
    flex-direction: column;
    min-width: 0;
    transform: translateY(-50%);
    padding: 24vh 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
      to right,
      rgba(34, 34, 34, 0.7) 0%,
      rgba(34, 34, 34, 0.85) 10%,
      rgba(34, 34, 34, 0.85) 70%,
      rgba(34, 34, 34, 0.7) 100%
    );
    transition: 0.6s ease-in-out;
    backdrop-filter: grayscale(100%), blur(4px);
    pointer-events: none;
    z-index: 1000;
    opacity: 0;
  }
  #home nav.active {
    opacity: 1;
    z-index: 1000;
    pointer-events: all;
  }
  .container {
    padding: 0 45px;
  }
  footer {
    flex-wrap: wrap;
  }
  footer .icons {
    width: 220px;
    font-size: 18px;
  }
  footer .icons .icon {
    height: 30px;
    width: 30px;
    font-size: 18px;
  }
  .fa-bars,
  .fa-close {
    display: inline;
  }
  footer span {
    font-size: 14px;
  }
  #home h5 {
    font-size: 25px;
  }
  #home h4 {
    font-size: 50px;
  }
  #home {
    padding: 50px;
  }
  #home .hero {
    padding: 0 10px;
  }
  #home {
    height: 99vh;
  }
}
@media all and (max-width: 400px) {
  footer .container {
    display: block;
  }
  footer .icons {
    width: 200px;
    margin-top: 10px;
  }
  #contact form .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .container {
    padding: 0 15px;
  }
  #home .hero {
    padding: 0 5px;
  }
  h2 {
    font-size: 34px;
  }
  #home h4 {
    font-size: 35px;
  }
  #home h5 {
    font-size: 20px;
  }
  #home {
    height: 100vh;
  }
}
